@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.cookieFont {
	font-family: "Cookie", cursive;
}

.poppinsFont {
	font-family: "Poppins", sans-serif;
}

.montserratFont {
	font-family: "Montserrat", sans-serif;
}

h2,
h3 {
	color: #4a6370;
}

p {
	font-family: "Montserrat", sans-serif;
	font-size: large;
	color: #83968d,;
}
